.home {
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home__logo {
  width: min(40rem, 80%);
}

.home-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.wrapper-search {
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1100px) {
  .home {
    width: 100%;
  }
}

@media(max-width: 800px) {
  .home {
    padding: 8rem;
  }

  .wrapper-search {
    width: 100%;
  }
}

@media(max-width: 500px) {
  .home {
    padding: 2rem;
  }
}