.search {
  width: 100%;
  height: 100%;
}

.search__input {
  width: 100%;
  height: 100%;
  padding: 1rem;

  background-color: transparent;
  border: none;
  outline: none;

  color: var(--white);
}

.search__input::placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}