:root {
  --pink: rgb(235, 1, 214);
  --purple: hsl(281, 100%, 46%);

  --very-dark-gray: rgb(28, 28, 28);
  --dark-gray: rgb(59, 58, 58);
  --dark-gray-opacity: rgba(59, 58, 58, .5);
  --gray: rgb(140, 140, 140);

  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --black-opacity: rgba(0, 0, 0, 0.8);

  --nav-height: 7.7rem;
}
/* 
  Espaçamentos:

  2rem

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--white);
  background-color: var(--very-dark-gray);
}

html,
body {
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

.icon {
  width: 3rem;
  font-size: 2rem;
}

.icon-search {
  color: var(--dark-gray);
}

.wrapper-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  padding: 1rem;
  border: 1px solid var(--dark-gray);
  border-radius: 1rem;

  transition: 0.5s;
}

.wrapper-search:hover {
  border: 1px solid var(--pink);
}

.hide {
  display: none;
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  background: var(--very-dark-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
}



